<h1>评论编辑</h1>
<%= form_for @comment ,:url => {:action => 'update'} do |f| %>
<p><%= f.label "评论内容",:class=> "label label-info"%><br />
  <%= f.kindeditor :content %>
</p>
  <p><%= f.submit "更新" %></p>
<% end %>
